<% layout('/layouts/default.html', {title: '海船安全检查信息表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('海船安全检查信息表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a>
				<% if(hasPermi('ship:shipInspection:edit')){ %>
						<a href="#" class="btn btn-default" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a>
					<a href="${ctx}/ship/shipInspection/form" class="btn btn-default btnTool" title="${text('新增海船安全检查信息表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${shipInspection}" action="${ctx}/ship/shipInspection/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('船舶识别号')}：</label>
					<div class="control-inline">
						<#form:input path="shipId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('中文船名')}：</label>
					<div class="control-inline">
						<#form:input path="shipNameCn" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('船籍港')}：</label>
					<div class="control-inline">
						<#form:input path="portOfRegistry" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('初查/复查')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionType" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('安检类型')}：</label>
					<div class="control-inline">
						<#form:input path="safetyInspectionType" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查日期')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionDate_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-done="inspectionDate_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="inspectionDate_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查港')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionPort" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查机构')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionAgency" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查员')}：</label>
					<div class="control-inline">
						<#form:input path="inspector" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否被滞留')}：</label>
					<div class="control-inline">
						<#form:input path="detained" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('缺陷代码')}：</label>
					<div class="control-inline">
						<#form:input path="defectCode" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('缺陷描述')}：</label>
					<div class="control-inline">
						<#form:input path="defectDescription" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('处理意见说明')}：</label>
					<div class="control-inline">
						<#form:input path="handlingComments" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i> ${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick"><i class="glyphicon glyphicon-repeat"></i> ${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//# // 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $('#searchForm'),
	columnModel: [
		{header:'${text("船舶识别号")}', name:'shipId', index:'a.ship_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/ship/shipInspection/form?id='+row.id+'" class="btnList" data-title="${text("编辑海船安全检查信息表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("中文船名")}', name:'shipNameCn', index:'a.ship_name_cn', width:150, align:"left"},
		{header:'${text("船籍港")}', name:'portOfRegistry', index:'a.port_of_registry', width:150, align:"left"},
		{header:'${text("初查/复查")}', name:'inspectionType', index:'a.inspection_type', width:150, align:"left"},
		{header:'${text("安检类型")}', name:'safetyInspectionType', index:'a.safety_inspection_type', width:150, align:"left"},
		{header:'${text("检查日期")}', name:'inspectionDate', index:'a.inspection_date', width:150, align:"center"},
		{header:'${text("检查港")}', name:'inspectionPort', index:'a.inspection_port', width:150, align:"left"},
		{header:'${text("检查机构")}', name:'inspectionAgency', index:'a.inspection_agency', width:150, align:"left"},
		{header:'${text("检查员")}', name:'inspector', index:'a.inspector', width:150, align:"left"},
		{header:'${text("缺陷数量")}', name:'defectCount', index:'a.defect_count', width:150, align:"center"},
		{header:'${text("是否被滞留")}', name:'detained', index:'a.detained', width:150, align:"left"},
		{header:'${text("缺陷代码")}', name:'defectCode', index:'a.defect_code', width:150, align:"left"},
		{header:'${text("缺陷描述")}', name:'defectDescription', index:'a.defect_description', width:150, align:"left"},
		{header:'${text("处理意见说明")}', name:'handlingComments', index:'a.handling_comments', width:150, align:"left"},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//# if(hasPermi('ship:shipInspection:edit')){
				actions.push('<a href="${ctx}/ship/shipInspection/form?id='+row.id+'" class="btnList" title="${text("编辑海船安全检查信息表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/ship/shipInspection/delete?id='+row.id+'" class="btnList" title="${text("删除海船安全检查信息表")}" data-confirm="${text("确认要删除该海船安全检查信息表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//# }
			return actions.join('');
		}}
	],
	//# // 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script><script>
$('#btnExport').click(function(){
	js.ajaxSubmitForm($('#searchForm'), {
		url: '${ctx}/ship/shipInspection/exportData',
		clearParams: 'pageNo,pageSize',
		downloadFile: true
	});
});
$('#btnImport').click(function(){
	js.layer.open({
		type: 1,
		area: ['400px'],
		title: '${text("导入海船安全检查信息表")}',
		resize: false,
		scrollbar: true,
		content: js.template('importTpl'),
		btn: ['<i class="fa fa-check"></i> ${text("导入")}',
			'<i class="fa fa-remove"></i> ${text("关闭")}'],
		btn1: function(index, layero){
			var form = {
				inputForm: layero.find('#inputForm'),
				file: layero.find('#file').val()
			};
		    if (form.file == '' || (!js.endWith(form.file, '.xls') && !js.endWith(form.file, '.xlsx'))){
		    	js.showMessage("${text('文件不正确，请选择后缀为“xls”或“xlsx”的文件。')}", null, 'warning');
		        return false;
		    }
			js.ajaxSubmitForm(form.inputForm, function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.layer.closeAll();
				}
				page();
			}, "json");
			return true;
		}
	});
});
</script>
<script id="importTpl" type="text/template">//<!--
<form id="inputForm" action="${ctx}/ship/shipInspection/importData" method="post" enctype="multipart/form-data"
	class="form-horizontal mt20 mb10" style="overflow:auto;max-height:200px;">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-1">
			<input type="file" id="file" name="file" class="form-file"/>
			<div class="mt10 pt5" style="color:red">
				${text('提示：仅允许导入“xls”或“xlsx”格式文件！')}
			</div>
			<div class="mt10 pt5">
				<a href="${ctx}/ship/shipInspection/importTemplate" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> ${text('下载模板')}</a>
			</div>
		</div>
	</div>
</form>
//--></script>