<% layout('/layouts/default.html', {title: '动态执法数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('动态执法数据管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a>
				<% if(hasPermi('dynamic:dynamicEnforcementData:edit')){ %>
				<a href="#" class="btn btn-default" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a>
				<a href="#" class="btn btn-default" id="btnImportAbnormal"><i class="glyphicon glyphicon-import"></i> 异常导入</a> <!-- 新增的异常导入按钮 -->
				<a href="#" class="btn btn-default" id="btnImportCase"><i class="glyphicon glyphicon-import"></i> 立案调查导入</a> <!-- 新增的立案调查导入按钮 -->
				<a href="${ctx}/dynamic/dynamicEnforcementData/form" class="btn btn-default btnTool" title="${text('新增动态执法数据')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${dynamicEnforcementData}" action="${ctx}/dynamic/dynamicEnforcementData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('检查单位')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionUnit" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查时间')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionTime_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-done="inspectionTime_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="inspectionTime_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查地点')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionLocation" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查对象')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionTarget" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('巡航任务名称')}：</label>
					<div class="control-inline">
						<#form:input path="cruiseTaskName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('大项名称')}：</label>
					<div class="control-inline">
						<#form:input path="majorItemName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('船舶总吨')}：</label>
					<div class="control-inline">
						<#form:input path="shipGrossTonnage" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检查结果')}：</label>
					<div class="control-inline">
						<#form:input path="inspectionResult" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i> ${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick"><i class="glyphicon glyphicon-repeat"></i> ${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//# // 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $('#searchForm'),
	columnModel: [
		{header:'${text("检查单位")}', name:'inspectionUnit', index:'a.inspection_unit', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/dynamic/dynamicEnforcementData/form?id='+row.id+'" class="btnList" data-title="${text("编辑动态执法数据")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("检查时间")}', name:'inspectionTime', index:'a.inspection_time', width:150, align:"center"},
		{header:'${text("检查地点")}', name:'inspectionLocation', index:'a.inspection_location', width:150, align:"left"},
		{header:'${text("检查对象")}', name:'inspectionTarget', index:'a.inspection_target', width:150, align:"left"},
		{header:'${text("巡航任务名称")}', name:'cruiseTaskName', index:'a.cruise_task_name', width:150, align:"left"},
		{header:'${text("大项名称")}', name:'majorItemName', index:'a.major_item_name', width:150, align:"left"},
		{header:'${text("船舶总吨")}', name:'shipGrossTonnage', index:'a.ship_gross_tonnage', width:150, align:"left"},
		{header:'${text("检查结果")}', name:'inspectionResult', index:'a.inspection_result', width:150, align:"left"},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//# if(hasPermi('dynamic:dynamicEnforcementData:edit')){
				actions.push('<a href="${ctx}/dynamic/dynamicEnforcementData/form?id='+row.id+'" class="btnList" title="${text("编辑动态执法数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/dynamic/dynamicEnforcementData/delete?id='+row.id+'" class="btnList" title="${text("删除动态执法数据")}" data-confirm="${text("确认要删除该动态执法数据吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//# }
			return actions.join('');
		}}
	],
	//# // 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script><script>
$('#btnExport').click(function(){
	js.ajaxSubmitForm($('#searchForm'), {
		url: '${ctx}/dynamic/dynamicEnforcementData/exportData',
		clearParams: 'pageNo,pageSize',
		downloadFile: true
	});
});

$('#btnImportAbnormal').click(function(){
	showImportDialog('abnormal');
});

$('#btnImportCase').click(function(){
	showImportDialog('case');
});

function showImportDialog(importType) {
	js.layer.open({
		type: 1,
		area: ['400px'],
		title: '${text("导入动态执法数据")}',
		resize: false,
		scrollbar: true,
		content: js.template('importTpl'),
		btn: ['<i class="fa fa-check"></i> ${text("导入")}',
			'<i class="fa fa-remove"></i> ${text("关闭")}'],
		btn1: function(index, layero){
			var form = {
				inputForm: layero.find('#inputForm'),
				file: layero.find('#file').val(),
				importType: importType // 传递导入类型
			};
			layero.find("#importType").val(importType);
			if (form.file == '' || (!js.endWith(form.file, '.xls') && !js.endWith(form.file, '.xlsx'))){
				js.showMessage("${text('文件不正确，请选择后缀为“xls”或“xlsx”的文件。')}", null, 'warning');
				return false;
			}
			js.ajaxSubmitForm(form.inputForm, function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.layer.closeAll();
				}
				page();
			}, "json");
			return true;
		}
	});
}
$('#btnImport').click(function(){
	js.layer.open({
		type: 1,
		area: ['400px'],
		title: '${text("导入动态执法数据")}',
		resize: false,
		scrollbar: true,
		content: js.template('importTpl'),
		btn: ['<i class="fa fa-check"></i> ${text("导入")}',
			'<i class="fa fa-remove"></i> ${text("关闭")}'],
		btn1: function(index, layero){
			var form = {
				inputForm: layero.find('#inputForm'),
				file: layero.find('#file').val()
			};
		    if (form.file == '' || (!js.endWith(form.file, '.xls') && !js.endWith(form.file, '.xlsx'))){
		    	js.showMessage("${text('文件不正确，请选择后缀为“xls”或“xlsx”的文件。')}", null, 'warning');
		        return false;
		    }
			js.ajaxSubmitForm(form.inputForm, function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.layer.closeAll();
				}
				page();
			}, "json");
			return true;
		}
	});

});
</script>
<script id="importTpl" type="text/template">//<!--
<form id="inputForm" action="${ctx}/dynamic/dynamicEnforcementData/importData" method="post" enctype="multipart/form-data"
    class="form-horizontal mt20 mb10" style="overflow:auto;max-height:200px;">
    <input type="hidden" name="importType" id="importType">  <!-- 隐藏的 importType 字段 -->
<div class="row">
	<div class="col-xs-12 col-xs-offset-1">
		<input type="file" id="file" name="file" class="form-file"/>
		<div class="mt10 pt5" style="color:red">
			${text('提示：仅允许导入“xls”或“xlsx”格式文件！')}
		</div>
		<div class="mt10 pt5">
			<a href="${ctx}/dynamic/dynamicEnforcementData/importTemplate" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> ${text('下载模板')}</a>
		</div>
	</div>
</div>
</form>
//--></script>