<% layout('/layouts/default.html', {title: '周工作数据表管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(weeklyReport.isNewRecord ? '新增周工作数据表' : '编辑周工作数据表')}
			</div>
			<div class="box-tools pull-right hide">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${weeklyReport}" action="${ctx}/weekly/weeklyReport/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="reportDate" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('部门')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="departmentId" title="${text('机构选择')}"
									path="departmentId.officeCode" labelPath="departmentId.officeName"
									url="${ctx}/sys/office/treeData"
									class="" allowClear="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('海船安检艘次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="seaShipInspectionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('海船缺陷数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="seaShipDefectCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('海船滞留艘次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="seaShipDetentionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('内河船安检艘次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="riverShipInspectionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('内河船缺陷数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="riverShipDefectCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('内河船滞留数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="riverShipDetentionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('PSC艘次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pscInspectionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('PSC缺陷数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pscDefectCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('PSC滞留艘次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pscDetentionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('散装液体危险货物作业现场监督检查')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bulkLiquidHazardousCargoSupervision" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('燃油快速抽样检测')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fuelQuickSamplingInspection" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('立案调查数据')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="investigationCases" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('海巡艇巡航发现异常')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="patrolBoatAbnormalDiscovery" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('海巡艇巡航立案调查')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="patrolBoatInvestigationCases" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('无人机巡航发现异常')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="droneAbnormalDiscovery" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('无人机巡航立案调查')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="droneInvestigationCases" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('电子巡航发现异常')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="electronicPatrolAbnormalDiscovery" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('电子巡航立案调查')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="electronicPatrolInvestigationCases" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('受限船进')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="restrictedShipIn" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('受限船出')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="restrictedShipOut" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('cape船进')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="capeShipIn" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('cape船出')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="capeShipOut" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('险情数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dangerCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('水工数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="hydraulicConstructionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('受限船核准数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="restrictedShipApprovalCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('排查风险隐患数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="riskHazardIdentificationCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('进出港报告艘次')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="portEntryExitReportCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('处罚决定数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="penaltyDecisionCount" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('处罚金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="penaltyAmount" maxlength="8" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('违法计分')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="illegalScore" maxlength="9" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2 col-sm-9-1" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10 col-sm-9-8">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('weekly:weeklyReport:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>