<% layout('/layouts/default.html', {title: '数据共享清单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('数据共享清单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a>
				<% if(hasPermi('datamanage:dataSharingInventory:edit')){ %>
						<a href="#" class="btn btn-default" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a>
					<a href="${ctx}/datamanage/dataSharingInventory/form" class="btn btn-default btnTool" title="${text('新增数据共享清单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${dataSharingInventory}" action="${ctx}/datamanage/dataSharingInventory/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('归口管理部门')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="managementDepartment" title="${text('机构选择')}"
							path="managementDepartment" labelPath="" 
							url="${ctx}/sys/office/treeData" allowClear="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据大类')}：</label>
					<div class="control-inline">
						<#form:input path="dataCategory" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('业务板块')}：</label>
					<div class="control-inline">
						<#form:input path="businessSegment" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('编号')}：</label>
					<div class="control-inline">
						<#form:input path="serialNumber" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据项目名称')}：</label>
					<div class="control-inline">
						<#form:input path="dataItemName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('计数单位')}：</label>
					<div class="control-inline">
						<#form:input path="unitOfMeasurement" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('统计频次')}：</label>
					<div class="control-inline width-120">
						<#form:select path="statisticalFrequency" dictType="statistical_frequency" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据粒度')}：</label>
					<div class="control-inline width-120">
						<#form:select path="dataGranularity" dictType="data_granularity" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据采集方式')}：</label>
					<div class="control-inline">
						<#form:input path="dataCollectionMethod" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据定义')}：</label>
					<div class="control-inline">
						<#form:input path="dataDefinition" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i> ${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick"><i class="glyphicon glyphicon-repeat"></i> ${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//# // 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $('#searchForm'),
	columnModel: [
		{header:'${text("归口管理部门")}', name:'managementDepartment', index:'a.management_department', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/datamanage/dataSharingInventory/form?id='+row.id+'" class="btnList" data-title="${text("编辑数据共享清单")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("数据大类")}', name:'dataCategory', index:'a.data_category', width:150, align:"left"},
		{header:'${text("业务板块")}', name:'businessSegment', index:'a.business_segment', width:150, align:"left"},
		{header:'${text("编号")}', name:'serialNumber', index:'a.serial_number', width:150, align:"left"},
		{header:'${text("数据项目名称")}', name:'dataItemName', index:'a.data_item_name', width:150, align:"left"},
		{header:'${text("计数单位")}', name:'unitOfMeasurement', index:'a.unit_of_measurement', width:150, align:"left"},
		{header:'${text("统计频次")}', name:'statisticalFrequency', index:'a.statistical_frequency', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel("#{@DictUtils.getDictListJson('statistical_frequency')}", val, '${text("未知")}', true);
		}},
		{header:'${text("数据粒度")}', name:'dataGranularity', index:'a.data_granularity', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel("#{@DictUtils.getDictListJson('data_granularity')}", val, '${text("未知")}', true);
		}},
		{header:'${text("数据采集方式")}', name:'dataCollectionMethod', index:'a.data_collection_method', width:150, align:"left"},
		{header:'${text("数据定义")}', name:'dataDefinition', index:'a.data_definition', width:150, align:"left"},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//# if(hasPermi('datamanage:dataSharingInventory:edit')){
				actions.push('<a href="${ctx}/datamanage/dataSharingInventory/form?id='+row.id+'" class="btnList" title="${text("编辑数据共享清单")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/datamanage/dataSharingInventory/delete?id='+row.id+'" class="btnList" title="${text("删除数据共享清单")}" data-confirm="${text("确认要删除该数据共享清单吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//# }
			return actions.join('');
		}}
	],
	//# // 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script><script>
$('#btnExport').click(function(){
	js.ajaxSubmitForm($('#searchForm'), {
		url: '${ctx}/datamanage/dataSharingInventory/exportData',
		clearParams: 'pageNo,pageSize',
		downloadFile: true
	});
});
$('#btnImport').click(function(){
	js.layer.open({
		type: 1,
		area: ['400px'],
		title: '${text("导入数据共享清单")}',
		resize: false,
		scrollbar: true,
		content: js.template('importTpl'),
		btn: ['<i class="fa fa-check"></i> ${text("导入")}',
			'<i class="fa fa-remove"></i> ${text("关闭")}'],
		btn1: function(index, layero){
			var form = {
				inputForm: layero.find('#inputForm'),
				file: layero.find('#file').val()
			};
		    if (form.file == '' || (!js.endWith(form.file, '.xls') && !js.endWith(form.file, '.xlsx'))){
		    	js.showMessage("${text('文件不正确，请选择后缀为“xls”或“xlsx”的文件。')}", null, 'warning');
		        return false;
		    }
			js.ajaxSubmitForm(form.inputForm, function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.layer.closeAll();
				}
				page();
			}, "json");
			return true;
		}
	});
});
</script>
<script id="importTpl" type="text/template">//<!--
<form id="inputForm" action="${ctx}/datamanage/dataSharingInventory/importData" method="post" enctype="multipart/form-data"
	class="form-horizontal mt20 mb10" style="overflow:auto;max-height:200px;">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-1">
			<input type="file" id="file" name="file" class="form-file"/>
			<div class="mt10 pt5" style="color:red">
				${text('提示：仅允许导入“xls”或“xlsx”格式文件！')}
			</div>
			<div class="mt10 pt5">
				<a href="${ctx}/datamanage/dataSharingInventory/importTemplate" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> ${text('下载模板')}</a>
			</div>
		</div>
	</div>
</form>
//--></script>