<% layout('/layouts/default.html', {title: '数据指标表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('数据指标表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('weeklydata:dataMetrics:edit')){ %>
					<a href="${ctx}/weeklydata/dataMetrics/form" class="btn btn-default btnTool" title="${text('新增数据指标表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${dataMetrics}" action="${ctx}/weeklydata/dataMetrics/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('数据项ID')}：</label>
					<div class="control-inline">
						<#form:input path="dataId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('部门ID')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="departmentId" title="${text('机构选择')}"
							path="departmentId.officeCode" labelPath="departmentId.officeName" 
							url="${ctx}/sys/office/treeData" allowClear="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="startTime" readonly="true" maxlength="20" class="form-control laydate width-date"
							dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="endTime" readonly="true" maxlength="20" class="form-control laydate width-date"
							dataFormat="date" data-type="date" data-format="yyyy-MM-dd"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('本期数值')}：</label>
					<div class="control-inline">
						<#form:input path="currentValue_gte" maxlength="8" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="currentValue_lte" maxlength="8" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i> ${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick"><i class="glyphicon glyphicon-repeat"></i> ${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//# // 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $('#searchForm'),
	columnModel: [
		{header:'${text("数据项ID")}', name:'sharingData.id', index:'a.data_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/weeklydata/dataMetrics/form?id='+row.id+'" class="btnList" data-title="${text("编辑数据指标表")}">'+(val||row.id)+'</a>';
		}},

		{header:'${text("数据大类")}', name:'dataSharing.dataCategory', index:'u4.data_category', width:150, align:"center"},
		{header:'${text("业务板块")}', name:'dataSharing.businessSegment', index:'u4.business_segment', width:150, align:"center"},
		{header:'${text("数据项名称")}', name:'dataSharing.dataItemName', index:'u4.data_item_name', width:150, align:"center"},
		{header:'${text("部门名称")}', name:'departmentId.officeName', index:'a.department_id', width:150, align:"center"},
		{header:'${text("开始时间")}', name:'startTime', index:'a.start_time', width:150, align:"center"},
		{header:'${text("结束时间")}', name:'endTime', index:'a.end_time', width:150, align:"center"},
		{header:'${text("本期数值")}', name:'currentValue', index:'a.current_value', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//# if(hasPermi('weeklydata:dataMetrics:edit')){
				actions.push('<a href="${ctx}/weeklydata/dataMetrics/form?id='+row.id+'" class="btnList" title="${text("编辑数据指标表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/weeklydata/dataMetrics/delete?id='+row.id+'" class="btnList" title="${text("删除数据指标表")}" data-confirm="${text("确认要删除该数据指标表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//# }
			return actions.join('');
		}}
	],
	//# // 加载成功后执行事件
	ajaxSuccess: function(data){
		$('#dataGrid').dataGrid('mergeCell', 'dataSharing.dataCategory,dataSharing.businessSegment,dataSharing.dataItemName,departmentId.officeName');

	}
});
</script>